.hq-desktop-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'VT323';
  position: relative;
  text-align: center;
  height: 80px !important;
  width: 90px !important;
  cursor: pointer !important;

  & img {
    margin: 0 auto;
  }

  &--overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    &:hover {
      background: var(--icon-primary-label-bg);
      opacity: 0.2;
    }
  }

  &--label {
    background: var(--icon-primary-label-bg);
    color: var(--window-primary-header-foreground);
    padding: 0.25rem 0.5rem;
    text-align: center;
    text-transform: capitalize;
  }
}
