.hq {
  &-button {
    border: none;
    font-family: 'Roboto Mono', serif;
    padding: 0.75rem 2rem;
    font-weight: 500;
    transition: 0.1s all ease-in;
    cursor: pointer;
    border-radius: 0.5rem;
    border: 0.125px solid var(--button-primary-border);
    transform: scale(1);
    &--primary {
      filter: drop-shadow(0 0.125rem 0 var(--button-primary-border));
      background: var(--button-primary);
      &:active {
        transform: scale(0.98);
        filter: drop-shadow(0 var(--button-primary-border));
      }
    }
    &--outline {
      background: transparent;
      box-shadow: 0 0.125rem 0 var(--button-primary-border);
      &:active {
        transform: scale(0.99);
        box-shadow: 0 0 0 var(--button-primary-border);
      }
    }
    &--xs {
      font-size: 0.75rem;
    }
    &--md {
      font-size: 1rem;
    }
    &--xl {
      font-size: 1.25rem;
    }
  }
}
