.hq {
  &-window {
    &--header {
      width: 100%;
      background: var(--window-primary-header);
      height: 40px;
      border-bottom: 1px solid var(--window-primary-border);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 0.875rem;
      cursor: move;
      // box-shadow:
      //   inset 0px 2px 5px 0px rgba(255, 255, 255, 0.3),
      //   inset 0px -2px 2px 0px rgba(0, 0, 0, 0.2);
      &-actions {
        color: var(--window-primary-bg);
        display: flex;
        justify-content: space-between;
        gap: 0.5rem;
      }
    }
    &--title {
      color: var(--window-primary-bg);
      font-size: 1.125rem;
    }
  }
}
