.hq-desktop-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'VT323';
  position: relative;
  cursor: pointer !important;

  & img {
    margin: 0 auto;
  }
  &--overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
  }
  & span {
    background: var(--icon-primary-label-bg);
    color: var(--window-primary-header-foreground);
    padding: 0.25rem 0.5rem;
    text-transform: capitalize;
  }
}
