.hq {
  &-window {
    &--header {
      width: 100%;
      background: var(--window-primary-header);
      height: 40px;
      border-bottom: 1px solid var(--window-primary-border);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 0.875rem;
      cursor: move;
      gap: 0.5rem;

      &-actions {
        display: flex;
        justify-content: space-between;
        gap: 0.5rem;
      }
    }
    &--icon {
      display: flex;
      align-items: center;
      flex-shrink: 0;
    }
    &--title {
      color: var(--window-primary-header-foreground);
      font-size: 1.125rem;
      flex: 1;
    }
  }
}
