.hq {
  &-window {
    &--button {
      cursor: pointer;
      border-radius: 100%;
      padding: 0.125rem;
      height: 1rem;
      width: 1rem;
      border: none;
      background: var(--window-primary-action-bg);
      & svg {
        opacity: 0;
      }
      &:hover {
        background: var(--window-primary-action-bg--hover);
        & svg {
          opacity: 1;
        }
      }
    }
  }
}
