.hq {
  &-window {
    border: 1px solid var(--window-primary-border);
    border-radius: var(--radius-md);
    background: var(--window-primary-bg);
    min-height: 5rem; // 80px
    min-width: 15rem; // 240px
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &--content {
      flex: 1;
      min-height: 0; // Allow flex item to shrink below content size
      overflow: auto;
      padding: 1rem;
      height: calc(100% - 40px);
      background: var(--window-primary-bg);
    }

    &--maximized {
      border-radius: 0;
    }

    &--minimized {
      min-height: unset !important;
      min-width: unset !important;
      height: 40px !important;
      border-radius: var(--radius-md) var(--radius-md) 0 0;
      border-bottom: none;
      position: fixed !important;
      bottom: 0 !important;
      top: auto !important;
      left: 60px !important;
      transform: none !important;

      .hq-window--content {
        display: none;
      }

      .hq-window--header {
        border-radius: var(--radius-md) var(--radius-md) 0 0;
        border-bottom: none;
      }
    }
  }
}
