.hq-desktop {
  background: url('/background.svg');
  display: flex;
  flex-direction: column;
  height: 100svh;
  &__content {
    flex: 1;
    position: relative;
    padding: 1rem;
    overflow: hidden; // Prevent windows from scrolling the desktop area itself
  }
}
